@import url('https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f6043d, #0804ea, #f0083e, #057af0);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 3em 2em;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    width: 450px;
    color: #fff;
    text-align: center;
}

.title {
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.timer {
    font-size: 4em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    cursor: pointer;
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: rgb(255, 255, 255);
    color: #000000;
}