body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f6043d, #0804ea, #f0083e, #057af0);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
    background-color: rgba(73, 73, 73, 0.25);
    border-radius: 2em;
    padding: 4em 3em;
    text-align: center;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    width: 400px;
}

.title {
    font-size: 2.5em;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.timer {
    font-size: 4em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    cursor: pointer;
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: rgb(255, 255, 255);
    color: #333;
}